*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: plum;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}

button{
    border-radius: 10px;
    padding: 5px 10px;
}

.btnEntrar{
    background-color: white;
    color: purple;
    border: 1px solid purple;
}

.btnInsc{
    background-color: purple;
    color: white;
    border: 1px solid purple;
}

.BtnNav a{
    margin-right: 20px;
    color: black;
    text-decoration: none;
    border-radius: 20px;
}

.BtnNav a:houver{
    text-decoration: underline;
}